
<!--路径导航-->
<ol class="breadcrumb">
    <li><a href="#/">首页</a></li>
    <li><a>系统管理</a></li>
    <li class="active">权限管理</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading "><span>用户</span></div>
                <div class="panel-body">
                    <p>所有用户</p>
                </div>
                <ul class="list-group panel-scroll" role="tablist">
                    <li role="presentation" class="list-group-item" ng-repeat="c in users"><a aria-controls="{{c}}" role="tab" data-toggle="tab" ng-click="initRoles(c)" href="">{{c}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <div class="panel panel-primary">
                <div class="panel-heading "><span>&nbsp&nbsp</span></div>
                <div class="panel-body ">
                    <div class="text-center" style=" margin-top: 100px">
                        <button type="button" class="btn btn-primary" aria-label="Left Align" disabled="disabled">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                    <div class="text-center" style=" margin-top:100px">
                        <button type="button" class="btn btn-primary" aria-label="Left Align" disabled="disabled">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                    <div class="text-center" style=" margin-top:100px">
                        <input type="hidden" id="username" >
                        <button  type="button"  ng-Tooltip  title="保存权限" class="btn btn-primary"
                              ng-click="saveRoles()"   ng-disabled="editFrom.$invalid" aria-label="Left Align">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class=" panel panel-primary">
                <div class="panel-heading "><span>权限</span></div>
                <div class="panel-body">
                    <p>系统用户权限</p>
                </div>
                <form>
                    <div class="tree panel-scroll">
                        <ul>
                            <li ng-Tree class="parent_li" ng-repeat="child in loadmenus | orderBy:orderId">
                             <a  title="{{child.authority}}" href="" class="active" > <span  class="glyphicon glyphicon-minus"></span>{{child.menuName}}</a>
                                <input  type="checkbox" data-value="{{child.authority}}" />
                                <span class="glyphicon glyphicon-registration-mark"></span><kbd>{{child.authority}}</kbd>
                                <ul role="menurole">
                                    <li ng-repeat="subChild in child.subsetMenus">
                                         <a role="{{subChild.authority}}" tabindex="-1" href=""><span class="glyphicon glyphicon-minus"></span>{{subChild.menuName}}</a>
                                        <input  type="checkbox" value="{{subChild.authority}}"/>
                                        <span class="glyphicon glyphicon-registration-mark"></span><kbd>{{subChild.authority}}</kbd>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>