<link rel="stylesheet" href="css/signin.css"/>
<div class="container" >
    <form class="form-signin" role="form" ng-submit="login()">
        <img  class="form-signin-heading " src="/img/lvxilogo.png" style="height: 68px">
        <div class="alert alert-danger" ng-show="error">
            登陆失败，账户名和密码不对，或者用户已被锁定，请重试！
        </div>
        <label for="username" class="sr-only"><span class="glyphicon glyphicon-customer"
                ></span>登陆用户</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="用户名称" required="required"
               autofocus="autofocus" ng-model="credentials.username"/>
        <label for="password" class="sr-only"><span class="glyphicon glyphicon-lock"
                ></span>用户密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="用户密码"
               required="required" ng-model="credentials.password"/>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"/> 记住我？
            </label>
        </div>
        <input name="_csrf" type="hidden" value=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
</div>

