<!--路径导航-->
<ol class="breadcrumb">
    <li><a href="#/">首页</a></li>
    <li><a href="#/order">订单管理</a></li>
    <li><a href="#/orderinfo/{{purchase.sheet}}">订单详情</a></li>
    <li class="active">订单打印</li>
</ol>
<div class=" panel panel-primary">
    <div class="panel-heading">打印预览</div>
    <div class="panel-body">
        <div ng-show="readonly==3" id="templatePrint3" >
            <table class="table table-condensed">
                <thead>
                <th colspan="8" class="text-center"><h2>绿硒商品退货单</h2></th>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">客户名称：{{purchase.consignee}}</td>
                    <td colspan="4">单号：{{purchase.sheet}}</td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td>条码</td>
                    <td>退货数量</td>
                    <td>单位</td>
                    <td>单价</td>
                    <td>退货金额</td>
                    <td>实发数量</td>
                    <td>实发金额</td>
                </tr>
                <tr ng-repeat="todo in purchase.items">
                    <td>{{todo.name}}</td>
                    <td>{{todo.barcode}}</td>
                    <td>{{todo.retqty}}</td>
                    <td>{{todo.pknum}}</td>
                    <td>{{todo.price}}</td>
                    <td>{{todo.price*todo.retqty |currency}}</td>
                    <td>{{todo.valqty-todo.retqty}}</td>
                    <td>{{todo.price*(todo.valqty-todo.retqty)|currency}}</td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{getTotalQty("R")}}</td>
                    <td></td>
                    <td></td>
                    <td>{{getTotal("R")|currency}}</td>
                    <td>{{getTotalQty("V")}}</td>
                    <td>{{getTotal("V")|currency}}</td>
                </tr>
                <tr>
                    <td>收货人：{{purchase.consignee}}</td>
                    <td colspan="3"><p>电话：{{purchase.phone}}</p></td>
                    <td colspan="4">地址：{{purchase.address}}</td>
                </tr>
                <tr>
                    <td colspan="2">制单人：</td>
                    <td colspan="3">配送人：</td>
                    <td colspan="3">收货人：</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="readonly==2" id="templatePrint2" >
            <table class="table table-condensed">
                <thead>
                <th colspan="8" class="text-center"><h2>绿硒商品配送清单</h2></th>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">客户名称：{{purchase.consignee}}</td>
                    <td colspan="4">单号：{{purchase.sheet}}</td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td>条码</td>
                    <td>申请数量</td>
                    <td>单位</td>
                    <td>单价</td>
                    <td>申请金额</td>
                    <td>实发数量</td>
                    <td>实发金额</td>
                </tr>
                <tr ng-repeat="todo in purchase.items">
                    <td>{{todo.name}}</td>
                    <td>{{todo.barcode}}</td>
                    <td>{{todo.qty}}</td>
                    <td>{{todo.pknum}}</td>
                    <td>{{todo.price}}</td>
                    <td>{{todo.price*todo.qty |currency}}</td>
                    <td>{{todo.sendqty}}</td>
                    <td>{{todo.price*todo.sendqty |currency}}</td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{getTotalQty("Q")}}</td>
                    <td></td>
                    <td></td>
                    <td>{{getTotal("Q")|currency}}</td>
                    <td>{{getTotalQty("S")}}</td>
                    <td>{{getTotal("S")|currency}}</td>
                </tr>
                <tr>
                    <td>收货人：{{purchase.consignee}}</td>
                    <td colspan="3"><p>电话：{{purchase.phone}}</p></td>
                    <td colspan="4">地址：{{purchase.address}}</td>
                </tr>
                <tr>
                    <td colspan="2">制单人：</td>
                    <td colspan="3">配送人：</td>
                    <td colspan="3">收货人：</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="readonly==1" id="templatePrint1" >
            <table class="table table-condensed">
                <thead>
                <th colspan="7" class="text-center"><h2>绿硒商品拣货单</h2></th>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">客户名称：{{purchase.consignee}}</td>
                    <td colspan="4">单号：{{purchase.sheet}}</td>
                </tr>
                <tr>
                    <td>名称</td>
                    <td>条码</td>
                    <td>数量</td>
                    <td>单位</td>
                    <td>单价</td>
                    <td>金额</td>
                    <td>捡货</td>
                </tr>
                <tr ng-repeat="todo in purchase.items">
                    <td>{{todo.name}}</td>
                    <td>{{todo.barcode}}</td>
                    <td>{{todo.qty}}</td>
                    <td>{{todo.pknum}}</td>
                    <td>{{todo.price}}</td>
                    <td>{{todo.price*todo.qty |currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td>{{getTotalQty("Q")}}</td>
                    <td></td>
                    <td></td>
                    <td>{{getTotal("Q")|currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>收货人：{{purchase.consignee}}</td>
                    <td colspan="2"><p>电话：{{purchase.phone}}</p></td>
                    <td colspan="4">地址：{{purchase.address}}</td>
                </tr>
                <tr>
                    <td colspan="2">制单人：</td>
                    <td colspan="3">配送人：</td>
                    <td colspan="3">收货人：</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-offset-3 col-sm-9">
                        <a id="btn_ctm_return2" class="btn btn-primary " href="#/orderinfo/{{purchase.sheet}}">
                            <span class="glyphicon glyphicon-repeat"></span>&nbsp&nbsp&nbsp&nbsp&nbsp返回</a>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="button" class="btn btn-primary " ng-click="pagePrint()">
                            <span class="glyphicon glyphicon-print"></span>&nbsp&nbsp&nbsp&nbsp&nbsp打印
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>